* {
  margin: 0;
  padding: 0; }

body, button, code, input, select, textarea {
  font: 12px/1.5 "Microsoft Yahei"; }

a {
  text-decoration: none;
  color: #ccc;
  font-size: 12px; }

#header {
  width: 100%;
  background: #333; }
  #header #header_content {
    width: 1090px;
    height: 36px;
    margin: 0 auto;
    background: #333; }
    #header #header_content div {
      float: left; }
    #header #header_content .header_left {
      width: 40%;
      height: 36px;
      line-height: 36px; }
      #header #header_content .header_left div:nth-child(1) a {
        color: #ccc;
        font-size: 14px; }
        #header #header_content .header_left div:nth-child(1) a:hover {
          color: white; }
      #header #header_content .header_left div:nth-child(1) :before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        vertical-align: -3px;
        background: url(../../message/bgimg.png) 0px -146px; }
      #header #header_content .header_left div:nth-child(1) ::after {
        content: "";
        display: inline-block;
        height: 16px;
        width: 1px;
        background: #CCCCCC;
        margin-left: 10px;
        vertical-align: -3px; }
      #header #header_content .header_left div:nth-child(2) {
        position: relative; }
        #header #header_content .header_left div:nth-child(2) #hearder_boxs {
          height: 36px;
          width: 300px;
          position: relative;
          left: 37px;
          top: 0px;
          overflow: hidden; }
          #header #header_content .header_left div:nth-child(2) #hearder_boxs .hearder_message {
            width: 300px; }
            #header #header_content .header_left div:nth-child(2) #hearder_boxs .hearder_message li {
              height: 36px;
              width: 300px;
              display: block; }
              #header #header_content .header_left div:nth-child(2) #hearder_boxs .hearder_message li a {
                color: #b4a078;
                text-decoration: underline;
                height: 36px;
                display: inline-block;
                line-height: 36px;
                width: 300px; }
                #header #header_content .header_left div:nth-child(2) #hearder_boxs .hearder_message li a:hover {
                  color: #FFFFFF;
                  text-decoration: none; }
      #header #header_content .header_left div:nth-child(2) span:first-child {
        display: inline-block;
        width: 30px;
        height: 36px;
        background: blue;
        background: url(../../message/d132c2561f18f1149d566a60d05fd9b7.gif) no-repeat 10px 10px;
        position: absolute;
        left: 0; }
    #header #header_content .header_right {
      width: 60%;
      height: 36px;
      display: flex;
      flex-direction: row-reverse; }
      #header #header_content .header_right div {
        float: right;
        height: 36px;
        line-height: 36px;
        text-align: center;
        position: relative; }
      #header #header_content .header_right div > a {
        margin: 0px 10px; }
        #header #header_content .header_right div > a:hover {
          color: white; }
      #header #header_content .header_right div:first-child > a i {
        display: inline-block;
        width: 10px;
        height: 15px;
        margin-right: 5px;
        vertical-align: -5px;
        background: url(../message/bgimg.png); }
      #header #header_content .header_right div:not(:first-child):after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 16px;
        background: #ccc;
        vertical-align: -3px; }
      #header #header_content .header_right div:nth-child(2) a:first-child {
        color: red;
        display: inline-block; }
      #header #header_content .header_right div:nth-child(2) a:first-child:after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: yellow;
        vertical-align: -5px; }
      #header #header_content .header_right div:nth-child(2) > div {
        width: 75px;
        height: 100px;
        position: absolute;
        top: 35px;
        background: red; }
        #header #header_content .header_right div:nth-child(2) > div p span {
          width: 0;
          height: 0;
          display: inline-block;
          margin: 0 auto;
          border: 7px solid white;
          border-top-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
          position: relative;
          top: -22px; }
      #header #header_content .header_right div:nth-child(2) > div:after {
        content: "";
        display: none; }
